{% extends "ui/base.html" %}
{% load static %}

{% block page_title %}areas{% endblock %}

{% block main %}
  <table class="table">
    <thead>
    <tr>
      <th>Area</th>
      <th></th>
      <th class="w-25">Tasks</th>
      <th class="w-25">Next Due</th>
    </tr>
    </thead>
    <tbody>
    {% for area in areas %}
      <tr>
        <td><a href="{% url 'tasks' %}?area={{ area.id }}">{{ area.name }}</a></td>
        <td>
          <a href="{% url 'area_edit' area.id %}" class="edit-pencil" >
            <img src="{% static 'ui/pencil.svg' %}" alt="edit">
          </a>
        </td>
        <td><a href="{% url 'tasks' %}?area={{ area.id }}"
               class="link-underline link-underline-opacity-0"
        >{{ area.task_count }}</a></td>
        {% if area.due_task_id %}
          <td>
            <a href="{% url 'task' area.due_task_id %}"
               class="link-underline link-underline-opacity-0"
            >{{ area.due_date }}</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <a href="{% url 'area_new' %}" class="btn btn-outline-primary">Add Area</a>
  </div>
{% endblock main %}
