{% extends "ui/base.html" %}

{% block page_title %}Areas{% endblock %}

{% block main %}
  <table class="table">
    <thead>
    <tr>
      <th>Area</th>
      <th class="w-25">Tasks</th>
      <th class="w-25">Next Due</thc>
    </tr>
    </thead>
    <tbody>
    {% for area in areas %}
      <tr>
        <td>{{ area.name }}</td>
        <td><a href="{% url 'tasks' %}?area={{ area.id }}">{{ area.task_count }}</a></td>
        {% if area.first_due_schedule.task %}
          <td>
            <a href="{% url 'task' area.first_due_schedule.task.id %}">{{ area.first_due_schedule.due_date }}</a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock main %}
