{% extends "ui/base.html" %}
{% load static %}

{% block page_title %}home{% endblock %}

{% block main %}
  <table class="table">
    <thead>
    <tr>
      <th>Upcoming Task</th>
      <th></th>
      <th>Area</th>
      <th>Due</th>
      <th>Consumables</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td><a href="{% url 'task' task.id %}"
               class="link-underline link-underline-opacity-0"
        >{{ task.name }}</a></td>
        <td>
          <a href="{% url 'task_edit' task.id %}" class="edit-pencil">
            <img src="{% static 'ui/pencil.svg' %}" alt="edit">
          </a>
        </td>
        <td>{{ task.area }}</td>
        <td>{{ task.due_date }}</td>
        {% if task.is_ready %}
          <td>in-stock</td>
        {% else %}
          <td class="text-danger">out-of-stock</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock main %}
