{% extends "ui/base.html" %}

{% block page_title %}Tasks{% endblock %}

{% block main %}
  <table class="table">
    <thead>
    <tr>
      <th>Area</th>
      <th>Task</th>
      <th>Due</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ task.area_name }}</td>
        <td><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
        {% if task.due_date %}
          <td>{{ task.due_date }}</td>
        {% else %}
          <td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock main %}
