{% extends "ui/base.html" %}
{% load static %}

{% block page_title %}Task{% endblock %}

{% block main %}
  <h1 class="h2">{{ task.area }}: {{ task.name }}</h1>
  <p>Duration: {{ task.duration }}</p>
  <p>Interval: {{ task.interval }} {{ task.frequency }}</p>
  <p>{{ task.notes }}</p>

  <h2 class="h4">Schedule</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Due</th>
      <th></th>
      <th scope="col">Completed</th>
      <th scope="col">Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for schedule in task.schedules.all %}
      <tr>
        <td>{{ schedule.due_date }}</td>
        <td>
          <div class="d-flex gap-3 edit-pencil">
            <a
            hx-delete="{% url 'schedule_edit' schedule.id %}"
            hx-confirm="Delete schedule due {{ schedule.due_date }}?"
            href="#"
            ><img src="{% static 'ui/trash.svg' %}" alt="delete"></a>
            <a href="{% url 'schedule_edit' schedule.id %}">
              <img src="{% static 'ui/pencil.svg' %}" alt="edit">
            </a>
          </div>
        </td>
        <td>{{ schedule.completion_date|default:'' }}</td>
        <td>{{ schedule.notes }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    <div class="d-flex justify-content-end">
    <a href="{% url 'schedule_new' %}?task={{ task.id }}" class="btn btn-outline-primary">Add Schedule</a>
  </div>

  <h2 class="h4 pt-3">Consumables</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Consumable</th>
      <th scope="col">Quantity</th>
      <th scope="col">Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for consumable in task.consumables.all %}
      <tr>
        <td>{{ consumable.name }}</td>
        <td>{{ consumable.quantity }} {{ consumable.unit }}</td>
        <td>{{ consumable.notes }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    <div class="d-flex justify-content-end">
    <a href="{% url 'consumable_new' %}" class="btn btn-outline-primary">Add Consumable</a>
  </div>
{% endblock main %}
